image: mcr.microsoft.com/dotnet/sdk:8.0

stages:
  - build
  - tests
  - release

build:
  stage: build
  tags:
   - msbuild17
  script:
    - dotnet build ./Users.WebApp/

acceptance-tests:
  stage: tests
  tags:
    - msbuild17
  script:
    - dotnet build ./Users.WebApp/ -c Release
    - dotnet ./Users.WebApp/bin/Release/net8.0/Users.WebApp.dll
    - dotnet test ./Users.AcceptanceTests/

unit-tests:
  stage: tests
  tags:
    - msbuild17
  script:
    - dotnet test ./Users.UnitTests/