image: mcr.microsoft.com/dotnet/sdk:8.0

stages:
  - build
  - test
  - release

build:
  stage: build
  tags:
    msbuild17
  script:
    - dotnet build

test:
  stage: test
  tags:
    msbuild17
  script:
    - dotnet test