image: mcr.microsoft.com/dotnet/sdk:8.0

stages:
  - build
  - tests

variables:
  UsersAppBaseUrl: "https://localhost:8081/"

build:
  stage: build
  tags:
    - msbuild17
    - win-builder9
  script:
    - dotnet build ./Users.WebApp/

acceptance-tests:
  stage: tests
  tags:
    - swarm-build
  script:
    - docker-compose -f docker-compose.yml up --force-recreate --abort-on-container-exit --exit-code-from ci-build
  allow_failure: true
