image: mcr.microsoft.com/dotnet/sdk:8.0

stages:
  - build
  - tests


variables:
  UsersAppBaseUrl: "https://localhost:8081/"

build:
  stage: build
  tags:
    - swarm-build
  script:
    - dotnet build ./Users.WebApp/

acceptance-tests:
  stage: tests
  tags:
    - swarm-build
  script:
    - docker-compose -f docker-compose.yml up
    - dotnet test ./Users.AcceptanceTests/
  allow_failure: true

unit-tests:
  stage: tests
  tags:
    - swarm-build
  script:
    - dotnet test ./Users.UnitTests/
