image: mcr.microsoft.com/dotnet/core/sdk:8.0

services:
- mongodb:latest

stages:
  - build
  - tests
  - release

build:
  stage: build
  tags:
   - msbuild17
   - win-builder9
  script:
    - dotnet build ./Users.WebApp/

acceptance-tests:
  stage: tests
  tags:
    - msbuild17
    - win-builder9
  script:
    - dotnet build ./Users.WebApp/ -c Release
    - dotnet ./Users.WebApp/bin/Release/net8.0/Users.WebApp.dll
    - dotnet test ./Users.AcceptanceTests/
  allow_failure: true

unit-tests:
  stage: tests
  tags:
    - msbuild17
    - win-builder9
  script:
    - dotnet test ./Users.UnitTests/