image: mcr.microsoft.com/dotnet/sdk:8.0

stages:
  - build
  - tests

variables:
  UsersAppBaseUrl: "https://localhost:8081/"
  ASPNETCORE_ENVIRONMENT: "Development"

before_script:
  - dotnet dev-certs https --trust

Build and test:
  stage: build
  tags:
    - swarm-build
  script:
    - docker-compose -f docker-compose.yml up --force-recreate --abort-on-container-exit --exit-code-from users.webapp
  allow_failure: true
