image: mcr.microsoft.com/dotnet/sdk:8.0

stages:
  - build
  - tests


variables:
  UsersAppBaseUrl: "https://localhost:8081/"

build:
  stage: build
  tags:
    - msbuild17
    - win-builder9
  script:
    - dotnet build ./Users.WebApp/

acceptance-tests:
  stage: tests
  tags:
    - msbuild17
    - win-builder9
  script:
    - dotnet build ./Users.WebApp/ -c Release
    - dotnet ./Users.WebApp/bin/Release/net8.0/Users.WebApp.dll
    - dotnet test ./Users.AcceptanceTests/
  allow_failure: true

unit-tests:
  stage: tests
  tags:
    - msbuild17
    - win-builder9
  script:
    - docker-compose -f docker-compose.yml up
    - dotnet test ./Users.UnitTests/
