@model Users.WebApp.Applications.User.Features.UserList.Views.ListViewModel

@using Users.WebApp.Applications.User.Features.UserList

@{
    ViewBag.Title = Resources.UserList_PageTitle;
    Layout = "_Layout";
}


@section body
{

    <div>
        <h2>@ViewBag.Title</h2>
    </div>

    <div class="mt-4">
        <button class="btn btn-primary"
            id="createUserButton"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#createUser">
            <i class="fa fa-plus"></i> @Resources.CreateUserButton_Label
        </button>
    </div>

    <div class="mt-4">
        <table class="table table-hover">
                <tbody>
                    @foreach(var userPartialViewModel in Model.UserPartialViewModelList)
                        {
                            @await Html.PartialAsync(
                                       partialViewName: "Partials/UserPartial",
                                       model: userPartialViewModel)
                        }
                </tbody>
            </table>
    </div>

    @await Html.PartialAsync(
               partialViewName: "CreateUserFormModalPartial",
               model: Model.CreateUserFormModalPartialViewModel)

    @await Html.PartialAsync(
               partialViewName: "EditUserFormModalPartial",
               model: Model.EditUserFormModalPartialViewModel)

        @await Html.PartialAsync(
                   partialViewName: "DeleteUserFormModalPartial",
                   model: Model.DeleteUserFormModalPartialViewModel)
}

@section scripts
{
    <script type="text/javascript"
        src="~/Content/Js/bootstrap-modal-data-mapper.js">
    </script>
}