<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0"/>
        <title>@ViewData["Title"] - Users.WebApp</title>
        <link rel="stylesheet"
            href="/Content/bootstrap-5.0.2/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand"
                        asp-area=""
                        asp-controller="UserList"
                        asp-action="ViewList">
                        Users.WebApp
                    </a>
                    <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main"
                class="pb-3">
                @await RenderSectionAsync("body", required: true)
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - Users.WebApp -
            </div>
        </footer>
        <script src="/Content/bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
        <script src="/Content/Js/jquery/jquery-3.7.1.min.js"></script>
        @await RenderSectionAsync("scripts", required: false)
    </body>
</html>