@model Users.WebApp.Applications.User.Features.UserList.Views.Partials.UserPartialViewModel

  <tr>
    <td class="text-start">@Model.Email</td>
    <td>@Model.Professions</td>
    <td>Buttons</td>
  </tr>

