# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies for Unit Tests
      run: dotnet restore ./Users.UnitTests
    
    - name: Build Unit Tests
      run: dotnet build ./Users.UnitTests --no-restore --configuration Release
    
    - name: Run Unit Tests
      run: dotnet test ./Users.UnitTests --no-build --configuration Release --verbosity normal
